<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'folders')}">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<h2>Folders</h2>
<table id="folders" class="table table-striped">
  <thead>
  <tr>
    <th style="...">Path</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="folder : ${folders}">
    <td>
      <a th:href="@{/history/__${folder.id}__}" th:text="${folder.filename}"/></a>
    </td>
  </tr>
  </tbody>

</table>

</body>
</html>
